body {
  background-color: #C6C6C6;
}

#generate {
  background-color: #B50000;
  padding: 50px;
  margin-top: 50px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 7px 1px #000000; 
  box-shadow: -1px 4px 7px 1px #000000;
}

button {
width: 200px;
background-color: #333338;
color: #FFFFFF;
margin: 20px;
-webkit-box-shadow: -1px 4px 7px 1px #000000; 
box-shadow: -1px 4px 7px 1px #000000;
}